.direction__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 225px;
  border-radius: 5px;
  padding-top: 26px;
  padding-left: 60px;
  padding-bottom: 24px;
  padding-right: 44px;
  background-color: #fafafa;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:hover .direction__age-group,
  &:focus .direction__age-group {
    color: $primary-bgcolor;
  }

  &:hover .direction__icon,
  &:focus .direction__icon {
    fill: $primary-bgcolor;
  }
}

.direction__subtitle {
  margin: 0;
}

.direction__desc {
  margin: 0;
}

.direction__age-group {
  position: relative;
  color: $accent-color;
  font-size: 30px;
  font-weight: 700;

  &--superscript {
    position: absolute;
    top: -100%;
    right: -50%;
    font-size: 13px;
    font-weight: 400;

    &::after {
      content: ' ';
      position: absolute;
      bottom: 2px;
      left: 1px;
      width: 32px;
      height: 1px;
      background-color: $accent-color;
    }
  }
}

.direction__icon {
  position: absolute;
  left: 64px;
  bottom: 22px;
  width: 20px;
  height: 14px;
  fill: $accent-color;
}

@media screen and (max-width: 767px) {
  .direction__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .direction__list {
    display: flex;
    flex-wrap: wrap;
  }

  .direction__item {
    width: 310px;
    height: 295px;

    &:first-child {
      border-bottom: 2px solid #e3e3e4;
      border-right: 2px solid #e3e3e4;
    }

    &:last-child {
      border-top: 2px solid #e3e3e4;
      border-left: 2px solid #e3e3e4;
    }
  }
}

@media screen and (min-width: 1300px) {
  .direction {
    display: flex;
    justify-content: center;
    padding-bottom: 110px;
  }
  .direction__list {
    display: flex;
  }

  .direction__item {
    width: 324px;
    height: 296px;

    &:not(:last-child) {
      border-right: 2px solid #e3e3e4;
    }
  }
}
